@model FacultyEval.Models.Admin

@{
    ViewBag.Title = "Admin Login";
}

@using (Html.BeginForm())
{
    
    @Html.AntiForgeryToken();
    @Html.ValidationSummary(false, "Admin authentication failed");
    <div>
        <fieldset>

            <legend>Admin Authentication</legend>

            <div>@Html.LabelFor(u => u.userID)</div>
            <div>
                @Html.TextBoxFor(u => u.userID)
                @Html.ValidationMessageFor(u => u.userID)
            </div>

            <div>@Html.LabelFor(u => u.password)</div>
            <div>
                @Html.PasswordFor(u => u.password)
                @Html.ValidationMessageFor(u => u.password)
            </div>

            <input type="submit" value="Login" />
        </fieldset>
    </div>
}
